* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #333;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #d92323;
}

.nav-link {
  color: #fff !important;
  font-size: 0.9rem;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
}

h2 {
  font-weight: 600;
}

h4 {
  font-weight: 500;
}

.black {
  color: #333;
}
.white {
  color: #fff;
}

.navbar {
  background-color: transparent;
  transition: background-color 0.3s, backdrop-filter 0.3s;
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}
.navbar-toggler-icon {
  background-image: url("../img/hammer.svg");
}

.btn {
  padding: 1.3rem 1.7rem;
}
.btn-primary {
  background-color: #d92323;
  border: none;
  border-radius: 0;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #bf1c1c;
}

.jumbotron {
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("../img/jumbotron.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

#services {
  padding: 5rem 0rem;
  background: rgb(40, 43, 46);
  background: radial-gradient(circle at bottom, rgba(40, 43, 46, 1) 0%, rgba(0, 0, 0, 1) 80%);
}

#whyus {
  padding: 5rem 0rem;
  background-color: #dedede;
}

#contacts {
  padding: 6rem 0rem;
  background-color: #333333;
  background-image: url("../img/logo-footer.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.gallery {
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  column-count: 4;
  column-gap: 10px;
}

#instafeed {
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  column-count: 4;
  column-gap: 10px;
}
#instafeed img {
  width: 100%;
  padding: 10px;
  text-align: center;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}
#instafeed p {
  font-size: 0.85rem;
  break-inside: avoid-column;
}
#instafeed div {
  break-inside: avoid-column;
}

.gallery-item {
  width: 100%;
  padding: 8px;
  text-align: center;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.gallery-item img {
  width: 100%;
  margin-bottom: 10px;
}

.sl-overlay {
  background-color: #000000 !important;
}
.sl-close,
.sl-prev,
.sl-next {
  color: #ffffff !important;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 2.5rem;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .jumbotron {
    background-position: left;
  }
  #contacts {
    background-size: contain;
    background-position: bottom right;
  }
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #instafeed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
