* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {

}

h2 {
  color: #FFF;
  font-weight: 600;
}

h4 {
  color: #FFF;
  font-weight: 500;
}

.jumbotron {
  height: 100%;
  background-image: url('img/jumbotron.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

#services {
  background: rgb(40,43,46);
  background: radial-gradient(circle, rgba(40,43,46,1) 0%, rgba(0,0,0,1) 100%);
}


@media (max-width: 767.98px) {

}
