* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

.nav-link {
  color: #FFF !important;
  font-size: 0.9rem;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
}

h2 {
  font-weight: 600;
}

h4 {
  font-weight: 500;
}

.black {
  color: #333;
}
.white {
  color: #FFF;
}

.btn-primary {
  background-color: #D92323;
  border: none;
  border-radius: 0;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #BF1C1C;
}

.jumbotron {
  height: 100%;
  background-image: url('img/jumbotron.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

#services {
  background: rgb(40,43,46);
  background: radial-gradient(circle at bottom, rgba(40,43,46,1) 0%, rgba(0,0,0,1) 100%);
}

#whyus {
  background-color: #DEDEDE;
}

#contacts {
  background-color: #333333;
}


@media (max-width: 767.98px) {

}
